header{
    background-color: beige;
}

h1 {
    display: inline;
}
 
#logo {
    width: 250px;
}

nav {
    display: inline-block;
}

nav li {
    display: inline;
}

nav a {
    text-transform: uppercase;   
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}